body {
    font-family: 'poppins', sans-serif;
    margin: 0;
    background: #0d0d0d;
    color: white;
    text-align: center;
}

header {
    padding: 50px;
    background: #121212;
}

section {
    padding: 40px;
}

input, textarea {
    width: 60%;
    max-width: 500px;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    border: none;
}

button {
    padding: 12px 25px;
    background: #00ffcc;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}


button:hover {
    background: #0056b3;
}